@font-face {
    font-family: "Lanz Regular"; src: url(../fonts/LanzRegular.otf) format("opentype");
}

@font-face {
    font-family: "Lanz Bold"; src: url(../fonts/LanzBold.otf) format("opentype");
}

@font-face {
    font-family: "Lanz light"; src: url(../fonts/LanzLight.otf) format("opentype");
}

a {color: #a6c307;text-decoration:none;}

a:hover{color:#051c31}

h2{ font-family: 'Lanz Regular';font-size:24px;}

h3{ font-family: 'Lanz Regular';font-size:20px;}

div.header_tpaga { background:linear-gradient(#22AAF4, #fff); overflow: auto;height:258px;}

.table-response{ width: 42%;}

.md-h1{text-align: center;}

.md-tracking{display:none}

.div-redirect{text-align:center;}

.md-error{color:red}

.tx-redirect{font-size:15px;}

.link-redirect{padding-left: 20px;}

.md-payment{width:160px}

.md-form{display:none}

.centered-container{width:100%;}

.icons{width:100%;background:#22aae2;}

.icons ul{margin-top:0px;}

.tpaga-logo{text-align:center;display:block;}

.ctwrapper {width:960px;margin:0px auto 30px auto;box-shadow: 0 0 5px #CCC;padding-bottom:20px;font-family: Arial, Helvetica, sans-serif ; color: #262626;font-size:14px;}

.md-icos_tpaga{width:80%;margin:0px auto 0px auto;padding-top:10px;}

.md-icos_tpaga li{ float:left;list-style-type:none;text-align:center;width:33.333333%;}

.clearfix {
  overflow: auto;
}

.tx-blue-ligth{ font-family: 'AmpleSoft-Medium-webfont';}

.md-copy_tpaga{text-align:center;display:block;margin-left:40px;font-family: 'Lanz Regular';font-size:24px;padding-top:70px;}

.md_wrapper_gray{padding:10px 10px 25px 10px;margin-bottom:20px;width:80%;}

.md-btn{color:#ffffff;font-family: 'open_sansbold';text-align: center;text-decoration:none;}

.button_tpaga{background-color:#22aae2 !important;  padding:16px 30px 16px 20px !important; display:block;border-radius:5px; color:#ffffff !important; text-decoration:none;margin-top:20px !important;border:0; width: 50%; transform: translatex(50%);}

.button_tpaga:hover{background:#051c31 !important;color:#ffffff;}

.md-wrapper_tpaga{width:100%;margin:20px auto 0px auto;}

.md-tl_tpaga{float: left;text-align: left;width: 45%;}

.tpaga_image{padding:20px 0px 0px 30px;width:50%;float:right;}

.md-col_tpaga{width:45%;float:left;}

.container_tpaga{width:90%;margin:auto;}

.security{padding-left:30px;padding-top:15px;}

.benefits{padding-top:15px;padding-bottom:20px;}

.benefits ul li, .security ul li{list-style-image: url("../img/bullet.png");  margin: 0 0 8px 0;}

.benefits ul, .security ul{margin: 0 15px 0px 0px; padding: 0 28px;}

.credentials_tpaga ul{padding:0px;}

ul{padding:0px;}

ul li{text-indent:0px;list-style-type:none;padding:0px;margin-left:0px;}

.config_tpaga{width: 45%;float: left;padding: 0px 20px 0px 20px;}
  
.credentials_tpaga{  width: 45%;float: right;padding: 0px 20px 0px 20px;border-left: dotted 2px #ccc;}
  
 .config_tpaga h3, .credentials_tpaga h3{  color: #262626; font-size: 24px;}

 .credentials_tpaga .caption{color: #7e7e7e;font-style: italic;font-size: 12px;font-family: #arial;}
  
  .credentials_tpaga input.input_tpaga[type="text"] {margin-bottom: 10px;width: 90%;margin-top: 5px;padding: 3px;}
  
  .credentials_tpaga form {  padding: 0px 10px 0px 10px}
  
  .credentials_tpaga label, .credentials_tpaga .label_tpaga{font-size: 15px;color: #262626;font-family: 'open_sansbold';width: 100% !important;text-align: left!important;font-weight: normal !important;padding: 0 !important;}
  
  .config_tpaga .steps {font-weight: normal; color: #58595b; font-size: 13px;}
  
  .config_tpaga ol li{  margin-bottom: 15px;line-height: 20px;color: #22aae2;font-weight: bold;font-size: 18px;}
  
  .credentials_tpaga .button_tpaga{margin-left:0px;margin-top:10px;}
  
  .nobootstrap{min-width:55% !important;}
  
.table-response{ width: 42%;}

.md-h1{text-align: center;}

.md-tracking{display:none}

.div-redirect{text-align:center;}

.md-error{color:red}

.tx-redirect{font-size:15px;}

.link-redirect{padding-left: 20px;}

.md-payment{width:160px}

.md-form{display:none}

p.perform_payment a.link-redirect {background: url(../img/tpaga-letter.png) 15px 15px no-repeat #fbfbfb; background-size: 68px 55px;}
p.perform_payment a.link-redirect:after {display: block;content: "\f054"; position: absolute; right: 15px; margin-top: -11px; top: 50%; font-family: "FontAwesome"; font-size: 25px; height: 22px; width: 14px; color: #777777;}
p.perform_payment a:hover {background-color: #f6f6f6; }

  
    
  @media (max-width:958px){
	  .ctwrapper{width:90%;}
	  
	  .md-col_tpaga, .credentials_tpaga, .config_tpaga{width:95%;margin:0px auto 0px auto;}
	  
	  .credentials_tpaga, .config_tpaga{display:block;  padding: 0px auto 0px auto;
  border-left: 0;}
  
  
	  .tpaga_image{padding:0px;}
	  
	  .md-icos_tpaga{}
	  
	  .security{padding-left:0px;padding-top:0px;}
	  
	  .tpaga_image{display:none;}
	  
	  h3{text-align:left;}
	  
	  .config_tpaga h3, .credentials_tpaga h3{text-align:left;}
	  
	  h2{text-align:left;}
	  
	  .md_wrapper_gray{width:95%;border-radius:0;}
	  
	      
	  .md-copy_tpaga {}
	  
	  .benefits{padding-top:0px;padding-bottom:0px;}
	  
	  .config_tpaga{padding:20px 0px 0px 0px;}
	  
	  .advice_tpaga{ width: 97%;}
	  }

@media (max-width:635px){
	
	
	 .ctwrapper{width:100%;}
	 
	 .md-copy_pay{font-size:18px;}
	 
	 .button_tpaga{width:60%;margin:10px auto;}
	 
	 .left-container{width:80%;margin:0px auto 0px auto;display:block;float:none;}
	 
	 .benefits ul, .security ul{padding:0px 0px 0px 20px;}
	 
	.advice_tpaga{ width: 95%;}
	
	}
	
	@media (max-width:610px){
		.md-copy_tpaga {text-align:center;width:100%;color:#ffffff;margin-left:0px;font-size:20px;}
		.md-copy_tpaga span{margin-top:25px;}
		.advice_tpaga{ width: 94%;}
		}

@media (max-width:550px){
	.md-icos_tpaga li img{width:60%;height:60%;}
	.advice_tpaga{ width: 94%;}
	}
 


